<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HackFSU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DF4044851F229B0200D48AC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF40449B1F229B0200D48AC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF4044A61F229B0200D48AC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
